.storybook
.doc
*.iml
*.log
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.build
node_modules
.cache
dist
assets/**/*.css
build
lib
coverage
yarn.lock
package-lock.json
es/
.storybook
.doc
!tests/__mocks__/rc-util/lib
examples/debug.tsx
.history

# umi
.umi
.umi-production
.umi-test
.env.local