language: node_js

sudo: false

notifications:
  email:
  - yiminghe@gmail.com
  - afc163@gmail.com
  - yesmeck@gmail.com

node_js:
- 8

script:
- |
    if [ "$TEST_TYPE" = test ]; then
      npm test -- --coverage && \
      bash <(curl -s https://codecov.io/bash)
    else
      npm run $TEST_TYPE
    fi
env:
  matrix:
  - TEST_TYPE=lint
  - TEST_TYPE=test
